
td {
    cursor: pointer;
}

.resaltado:hover {
    
    border-bottom: solid;
    border-color: cornsilk;
    color: steelblue;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
