

.margen-general-1-bottom {
    margin-bottom: 15px;
}

.margen-general-2-bottom {
    margin-bottom: 0px;
}

.margen-general-3-top {
    margin-top: 22px;
}

.margen-general-2-top {
    margin-top: 15px;
}

.margen-general-1-top {
    margin-top: 25px;
}

.margen-1-radioB {
    padding-left: 45px;
}

.margen-2-radioB {
    padding-left: 55px;
}

.padding-general-bottom {
    padding-bottom: 35px;
}

.padding-general-top {
    padding-top: 35px;
}


.padding-general-inicio-bottom {
    padding-bottom: 20px;
}

.padding-general-inicio-top {
    padding-top: 20px;
}

.padding-info-exp {
    padding-top: 15px;
}


.padding-card {
    padding-right: 20px;
    padding-left: 20px;
}

.margin-card {
    margin-top: 15px;
    margin-bottom: 20px;
}

.padding-general-label {
    padding-left: 20px;
    padding-right: 20px;
}

.nombre-input {
    font-size: 16px;
    color: dimgray;
}

.general-card {
    padding-right: 20px;
    padding-left: 20px;
}

.btnGuardarConsulta {
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}

.info-paciente {
    font-weight: bold;
    font-size: 16px;
    color: dimgray;
}

.btnVerGenerarDiagnostico {
    width: 50%;
}

.alinearBtnGuardarCon {
    text-align: right;
    display: block
}

.ubicacionBtn {
    display: inline-block;
    padding-right: 0px;
}

.alinearFoto {
    text-align: center;
    display: block
}

.alinearBtnExpFin {
    text-align: center;
    display: block
}

.ubicacionBtn {
    display: inline-block;
    padding-right: 0px;
}

.btnsExpFin {
    width: 180px;
}

.alinearBtnImagen {
    text-align: center;
    display: block
}

.paddingSidesCard {
    padding-left: 0px;
    padding-right: 0px;
}

.campoGeneralExamen {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.btnVerExamen {
    margin-bottom: -15px;
}

.alinearBtnNuevoExamen {
    text-align: center;
    display: block;
}

.ubicacionBtnNuevoExamen {
    display: inline-block;
}

.btnNuevaConsulta {
    width: 230px;
}