
.margen-general-1-top {
    margin-top: 25px;
}

.margen-general-2-top {
    margin-top: 15px;
}

.margen-general-1-botton {
    margin-bottom: 15px;
}

.padding-general-top {
    padding-top: 15px;
}

.padding-general-checkB {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-general-label {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.linea-divisoria-titulo {
    color:dimgray;
}
.tabs-fichas {
    color: dimgray;
    font-weight: bold;
    font-size: larger;
}

.nombre-input {
    font-size: 16px;  
    color: dimgray;
}

