body {
}

#wrapper #content-wrapper {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #1D5E93 !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(0, 147, 162, 0.75) !important ;
}
#page-title {
    padding: 0px 0px 10px 25px !important;
}
.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-header {
    border: 0 none;
    color: #050505;
    font-size: 2.2em;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
}
.card-dash {
    text-align: center;
    background-color: whitesmoke !important;
    color: #1D5E93;
}

.btn-guardar {
    color: #FFFFFF;
    background-color: #4CAF50;
    width: 150px;
}
.btn-guardar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
}
.btn-eliminar {
    color: #FFFFFF;
    background-color: #f44336;
    width: 150px;
}
.btn-eliminar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
}
.sticky-footer .container {
    margin-right: 0px;
    margin-left: 250px;
    text-align: right;
    color: white;
}
.btn-neutro {
    color: #FFFFFF;
    background-color: #1ca5ac;
    width: 100%;
}
.btn-neutro:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
}
.btn-regresar {
    color: #FFFFFF;
    background-color: #8b8b8b;
    width: 150px;
}
.btn-regresar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
}
.form-control:focus {
    color: #fcfdff !important;
    background-color: #1D5E93 !important;
    border-color: #80bdff !important;
}






